.container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
  padding: 1.8rem 1.2rem;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoHeading {
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center;
  color: #444;
  cursor: pointer;
}

.logoImg {
  width: 3rem;
  cursor: pointer;
}

.navBarDesktop {
  display: none;
}

/* ////////////////////////////// */

@media only screen and (min-width: 49.8em) {
  .btnMenu {
    display: block;
  }
}

@media only screen and (min-width: 49.8em) {
  .navBarDesktop {
    display: block;
  }
}

/* ///////////////////////////// */
@media only screen and (min-width: 49.81em) {
  .btnMenu {
    display: none;
  }
}

@media only screen and (min-width: 27em) {
}

@media only screen and (min-width: 40.625em) {
  .container {
    padding: 1.6rem;
  }

  .logoHeading {
    font-size: 2.4rem;
  }

  .logoImg {
    width: 3.6rem;
  }

  .desktopBar {
    display: block;
  }
}

@media only screen and (min-width: 53.125em) {
  .container {
    padding: 1.8rem;
  }

  .logoHeading {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 64em) {
  .container {
    padding: 2rem 2.4rem;
  }
}
