.container {
  background-image: url("./hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 3.6rem;
}

.heroHeading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(18, 18, 18, 0.7);
  font-weight: 600;
  text-transform: capitalize;
}

.title {
  color: #fea56e;
  font-size: 3.6rem;
  padding: 1.2rem 0;
}

.tagLine {
  color: #ddd;
  line-height: 1.1;
  font-size: 2rem;
}

@media only screen and (min-width: 550px) {
  .container {
    height: 60vh;
  }
}

@media only screen and (min-width: 850px) {
  .container {
    height: 70vh;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    height: 80vh;
  }

  .heroHeading {
    font-size: 4.8rem;
    padding: 0rem 6.4rem;
  }

  .heroHeading strong {
    font-size: 6.4rem;
    margin-bottom: 0;
  }
}
