/* ///////////////////////////// */

.sideBar {
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: rgba(51, 51, 51, 0.7);
  display: flex;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.sideBar.sideBarIn {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.sideBarBlur {
  width: 20%;
}

.cross {
  color: #ddd;
  font-size: 2rem;
  padding: 1.2rem;
  border-radius: 50%;
}

/* ////////////////////////// */

.sideBarContent {
  width: 80%;
  background-color: #eee;
}

.sideBarSearchContainer {
  width: 90%;
  margin: 3.6rem auto;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  background-color: #fea56e;
}

.sideBarSearch {
  width: 83%;
  font-size: 1.6rem;
  padding: 0.8rem;
  outline: none;
}

.sideBarSearch:focus {
  box-shadow: inset rgba(255, 111, 0, 0.2) 0px 1px 3px;
}

.searchIcon {
  margin: auto;
}

.navList {
  display: flex;
  flex-direction: column;
  font-size: 1.3npm i react-iconsclsrem;
  font-weight: 600;
  color: #666;
  text-transform: uppercase;
}

.navList li {
  padding: 1.8rem;
  border-bottom: 1px solid #ccc;
  transition: all 0.4s;
}

.navList li:first-child {
  border-top: 1px solid #ccc;
}

.navList li:hover {
  background-color: #ddd;
}

/* ////////////////////////////// */
@keyframes sideBarIn {
  0% {
    right: -100%;
    /* right: 0%; */
  }
  100% {
    right: 0%;
  }
}
