@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colorBlue: #ffe100;
  --colorRed: #f65058ff;
  --colorYellow: #00033d;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1;
}
